<div>
  <!--title-->
  <div class="col-12">
    <div class="row pt-2 pb-2">
      <div class="col-auto pl-0">
        <h1 [translate]="'Sidebar.Settings'">
        </h1>
      </div>
    </div>
  </div>
  <!--child outlet-->
  <router-outlet></router-outlet>
</div>



