<div *ngIf="model">
    <div class="row mt-2" *ngFor="let internship of model;index as i;">
        <div class="col-12">
            <card-collapsible>
                <card-header>
                  <span *ngIf="internship.name">{{internship.name}}</span>
                  <span>&nbsp;- </span>
                    <span *ngIf="internship.internshipYear">{{internship.internshipYear.alternateName}}</span>
                    <span>&nbsp;</span>
                    <span *ngIf="internship.internshipPeriod"
                        [translate]="'Periods.' + internship.internshipPeriod.alternateName"></span>
                    <span>&nbsp;</span>
                    <span *ngIf="internship.status">(<span
                            [translate]="'InternshipStatus.' + internship.status.alternateName"></span>)</span>
                </card-header>
                <card-body>
                    <app-internships-preview-form [model]="internship"></app-internships-preview-form>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <a href="#/internships/{{internship.id}}/preview/general"
                                class="btn btn-indigo float-right">{{ 'Details' | translate }}</a>
                        </div>
                    </div>
                </card-body>
            </card-collapsible>
        </div>
    </div>
    <div *ngIf="model.length === 0">
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" [translate]="'Internships.NoInternships'"></p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
