<div class="modal-header" *ngIf="modalTitle">
  <h5 class="modal-title">{{modalTitle}}</h5>
  <button (click)="cancel()"
    type="button" class="close" data-dismiss="modal" aria-label="Cancel">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container *ngIf="lastError">
  <!--show error-->
  <div class="row mb-2 mt-3 ml-2">
      <div class="alert alert-warning" role="alert">
        <span [translate]="'Forms.PartsFactorsError'"></span><br>
        <small *ngIf="lastError.error && lastError.error.code; else localError">{{lastError.error.code}}</small>
        <ng-template #localError>
          <small>{{lastError}}</small>
        </ng-template>
      </div>
  </div>
</ng-container>
<div *ngIf="courseParts">
  <ul *ngIf="courseParts.length > 0" class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center">
        <div class="sis--list-group-item_lg_column" [translate]="'Courses.TitleSingular'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Forms.CalculatedCoursePart'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Forms.CoursePartPercent'"></div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li *ngFor="let part of courseParts" class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_lg_column ">
          {{ part.displayCode }} - {{ part.name }}
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">
          <select class="form-control col-5 ml-4" [(ngModel)]="part.calculatedCoursePart">
            <ng-container *ngFor="let label of yesNoOptions.labels; let i=index">
              <option [value]="yesNoOptions.values[i]"> {{ label | translate}} </option>
            </ng-container>
          </select>
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">
          <input class="form-control bg-white text-center" type="text" [(ngModel)]="part.coursePartPercent">
        </div>
      </div>
    </li>
  </ul>
  <div class="mb-3 pt-4 text-indigo" [translate]="'Forms.FactorsInfo'"></div>
</div>
<div class="modal-footer justify-content-end">
  <button [disabled]="okButtonDisabled" (click)="ok()"
  type="button" [ngClass]="okButtonClass" [translate] = "'Forms.Submit'">
  </button>
  <button [disabled]="cancelButtonDisabled"
  (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
  {{'Cancel' | translate}}
  </button>
</div>
