<!-- <div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-registrations-advanced-table-search [(filter)]="filter.value"></app-registrations-advanced-table-search>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
</div> -->

<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div *ngIf="this.table && this.table.config && this.table.config.model === 'Students'"class="alert alert-dismissible alert-info shadow fade show col-12 mt-2">
    <div [translate]="'Registrations.CreateRegistrationAction.Info'"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span *ngIf="this.table && this.table.config && this.table.config.model !== 'Students' else studentsPlural;" [translate]="'Registrations.TitleMany'"></span>
        <ng-template #studentsPlural>
          <span [translate]="'Students.StudentTitle'"></span>
        </ng-template>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span *ngIf="this.table && this.table.config && this.table.config.model !== 'Students' else studentsSingular;" [translate]="'Registrations.TitleOne'"></span>
        <ng-template #studentsSingular>
          <span [translate]="'Students.StudentTitleSingular'"></span>
        </ng-template>
      </div>
    </div>
    <!-- start: registrations actions -->
    <ng-container *ngIf="this.table && this.table.config && this.table.config.model !== 'Students'">
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="btn-group" *ngIf="this.table && this.table.selectable">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button" (click)="openAction()" [translate]="'Registrations.Buttons.Open'">
            Open
          </button>
          <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="openAction()" [translate]="'Registrations.Buttons.Open'">Open</button>
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="closeAction()" [translate]="'Registrations.Buttons.Close'">Close</button>
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="deleteAction()" [translate]="'Registrations.Buttons.Delete'">Delete</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
            <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
          </div>
        </div>
      </div>
    </ng-container>
    <!--end: registrations actions-->
    <!-- start: students actions -->
    <ng-container *ngIf="this.table && this.table.config && this.table.config.model === 'Students'">
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="btn-group" *ngIf="this.table && this.table.selectable">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button" (click)="createRegistrationAction()" [translate]="'Registrations.CreateRegistrationAction.Title'">
            Open
          </button>
          <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="createRegistrationAction()" [translate]="'Registrations.CreateRegistrationAction.Title'">Create</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
            <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
          </div>
        </div>
      </div>
    </ng-container>
    <!--end: students actions-->
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="false" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
