<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Counselors.StudentCounselors'" class="mr-3 my-auto"></h5>
  </div>
  <div class="card-body pt-0">
    <div id="group-list"  class="flex-column" *ngIf="counselors && counselors.length>0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Counselors.Counselor'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Counselors.StartDate'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Counselors.EndDate'"></div>
            <div class="sis--list-group-item_sm_column d-none d-lg-block text-right" [translate]="'Counselors.IsActive'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let counselor of counselors">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column text-truncate"><span class=" text-dark">
                 <a [routerLink]="['.', { outlets:{ modal:'counselors/' + counselor.id  + '/edit'} }]" class="fas fa-edit text-indigo mr-2"></a>
              {{counselor.instructor?.familyName }} {{counselor.instructor?.givenName }}</span></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ counselor.startDate | localizedDate: 'shortDate'}}</span></div>
            <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ counselor.endDate | localizedDate: 'shortDate' || '---'}}</span></div>
            <div class="sis--list-group-item_sm_column text-right">
              <span [ngClass]="counselor.active? 'text-success' : 'text-danger'" [translate]="(counselor.active ? 'TrueFalse.long.Yes' : 'TrueFalse.long.No')"></span>
          </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="mb-3" *ngIf="!counselors || counselors.length == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
</div>
