<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" [translate]="tab.data.title" [routerLink]="[tab.path]"
        [routerLinkActive]="'active'"></a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
<div *ngIf="!model && !isLoading">
  <div class="text-center mt-4">
    <div class="icon-circle bg-gray-300 border-gray-100 mb-4"></div>
    <h4 class="font-3xl text-dark">{{ 'NotFound.Title' | translate }}</h4>
    <p class="font-lg text-dark">{{ 'NotFound.Description' | translate }}</p>
  </div>
</div>
